@{
        ViewData["Title"] = "Logout";
}

<div class="container">
    <div class="col-10 mx-auto">
        <h1>Logout</h1>
        <p>You have successfully logged out of the application.</p>

        <div>
        <a asp-controller="Account" asp-action="Login">Back to Login Page</a>
        </div>
    </div>
</div>
